/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .pretty th .current {
   padding-right: 12px;
   background-repeat: no-repeat;
   background-position: right center;
 }

 .pretty th .asc {
   background-image: url(/images/up_arrow.gif);
 }

 .pretty th .desc {
   background-image: url(/images/down_arrow.gif);
 }

 /*
 inspired from http://codepen.io/Rowno/pen/Afykb
 & https://jsfiddle.net/q0rgL8ws/
 */
 .carousel-fade .carousel-inner .item {
   opacity: 0;
   transition-property: opacity;
     overflow:hidden;
 }
 .item.active img {
     transition: transform 5000ms linear 0s;
     /* This should be based on your carousel setting. For bs, it should be 5second*/
     transform: scale(1.05, 1.05);
 }
 .carousel-fade .carousel-inner .active {
   opacity: 1;
 }

 .carousel-fade .carousel-inner .active.left,
 .carousel-fade .carousel-inner .active.right {
   left: 0;
   opacity: 0;
   z-index: 1;
 }

 .carousel-fade .carousel-inner .next.left,
 .carousel-fade .carousel-inner .prev.right {
   opacity: 1;
 }

 .carousel-fade .carousel-control {
   z-index: 2;
 }



 /*
 WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
 now override the 3.3 new styles for modern browsers & apply opacity
 */
 @media all and (transform-3d), (-webkit-transform-3d) {
     .carousel-fade .carousel-inner > .item.next,
     .carousel-fade .carousel-inner > .item.active.right {
       opacity: 0;
       -webkit-transform: translate3d(0, 0, 0);
               transform: translate3d(0, 0, 0);
     }
     .carousel-fade .carousel-inner > .item.prev,
     .carousel-fade .carousel-inner > .item.active.left {
       opacity: 0;
       -webkit-transform: translate3d(0, 0, 0);
               transform: translate3d(0, 0, 0);
     }
     .carousel-fade .carousel-inner > .item.next.left,
     .carousel-fade .carousel-inner > .item.prev.right,
     .carousel-fade .carousel-inner > .item.active {
       opacity: 1;
       -webkit-transform: translate3d(0, 0, 0);
               transform: translate3d(0, 0, 0);
     }
     .container {
       width: 100%
     }
 }
